* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* background-color: antiquewhite; */
}

.wrapper {
  width: 1440px;
  height: 4805px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid grey;
}

.header {
  width: 1440px;
  height: 90px;
  border-bottom: 1px solid rgb(164, 161, 161);
}
.nav {
  width: calc(100%-240px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 810px;
}
.nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
svg {
  width: 136px;
  height: 30px;
}

.s1 {
  width: 1200px;
  height: 472.5px;
  margin: 59.5px auto 0;
  display: flex;
  /* background-color: bisque; */
}
.s1-pic {
  width: 721px;
  height: 474px;
}
.s1-text {
  width: 480px;
  height: 342px;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.s1-text p:nth-child(1) {
  margin-top: 5px;
  color: #999;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.s1-text p:nth-child(2) {
  margin-top: 18px;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}

.s1-text p:nth-child(3) {
  margin-top: 27px;
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.s1-text p:nth-child(4) {
  margin-top: 28px;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.s2 {
  margin-top: 34.5px;
  margin-bottom: 65.03px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px, solid, grey;
}
.s2-box1 {
  display: flex;
  width: 406.656px;
  padding: 25.5px 9.656px 49px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.234px;
}
.s2-box1 img {
  width: 387px;
  height: 254px;
}
.s2-box1-text {
  width: 386.656px;
  height: 134px;
  font-family: Arial, Helvetica, sans-serif;
}
.s2-box1-text p:nth-child(1) {
  color: #999;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.s2-box1-text p:nth-child(2) {
  margin-top: 18px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.s2-box1-text p:nth-child(3) {
  margin-top: 15px;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.line1 {
  margin: 65.03px auto 89.97px;
  width: 1200px;
  height: 1px;
  background: #e6e6e6;
}
.posts {
  margin-top: 90px;
  margin-left: 120px;
}
.posts p {
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.s3 {
  margin: 29.97px auto 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 972.063px;
  padding-bottom: 0px;
  justify-content: center;
}
.s3-box1 {
  display: flex;
  width: 25%;
  padding: 0.031px 10px 48px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.s3-box1 img {
  width: 285px;
  height: 187px;
}
.s3-box1-text {
  width: 285px;
  height: 134px;
  font-family: Arial, Helvetica, sans-serif;
}
.s3-box1-text p:nth-child(1) {
  color: #999;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.s3-box1-text p:nth-child(2) {
  margin-top: 18px;
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.s3-box1-text p:nth-child(3) {
  margin-top: 15px;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.s3 .all-posts {
  width: 205px;
  height: 54px;
  border: 1px solid #000;
  background: #fff;
}
.all-posts p {
  margin: 21px 26px;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.line2 {
  margin: 90px auto;
  width: 1200px;
  height: 1px;
  background: #e6e6e6;
}

.feature-post p {
  margin-left: 120px;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.s4 {
  margin: 0 auto;
  width: 1200px;
  height: 1126.375px;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 1126.375px;
  justify-content: center;
}

.s4-box1 {
  display: flex;
  width: 50%;
  padding: 24.969px 10px 49px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20.219px;
}

.s4-box1-text {
  width: 285px;
  height: 134px;
  font-family: Arial, Helvetica, sans-serif;
}

.s4-box1-text p:nth-child(1) {
  color: #999;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.s4-box1-text p:nth-child(2) {
  margin-top: 18px;
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.s4-box1-text p:nth-child(3) {
  margin-top: 15px;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer {
  margin-top: 145px;
  width: 1440px;
  height: 550px;
  background: #141414;
}

.footer-top {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.footer-top img {
  margin-top: 93px;
  margin-left: 120px;
  width: 135px;
  height: 17px;
}
.footer-top p {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.line3 {
  margin: 60px auto;
  width: 1200px;
  height: 1px;
  background: #e6e6e6;
}

.footer-body {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_left p {
  width: 80%;
  margin-left: 120px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.category {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
}
